/* #380766 #5503A1 #E0162E #444 #A1A1A1 #FEFEFE */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444;
  background-color: #FEFEFE;
}
p {
  line-height: 1.5;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #5503A1;
}
a:hover {
  color: #E0162E;
}
.content {
  width: 960px;
  margin: 0 auto;
}
h1.header {
  font-family: 'Amaranth', sans-serif;
  color: #380766;
  font-size: 42px;
  margin: 20px 0;
  text-shadow: 1px 1px 1px #a1a1a1;
}
.error-message {
  display: none;
}
ul.articles-list {
  list-style-type: none;
  padding: 0;
}
.articles-list li{
  border: white solid 1px;
  /*border-radius: 10px;*/
  box-shadow: 0px 1px 2px #D1D1D1;
  margin: 20px 0;
  padding: 10px;
}
.content-item {
  display: flex;
  align-items: top;
}
.article-item {
  margin: 0 10px;
  min-width: 576px;
}
.article-item h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}
.article-item span {
  display: block;
  margin: 8px 0;
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
}
.article-image img {
  width: 240px;
  border: #F5F5F5 solid 1px;
}
.vote {
  min-width: 100px;
  align-self: right;
}
.vote-content {
  box-shadow: 0px -1px 2px #D1D1D1;
  /*border-radius: 10px;*/
  padding: 10px;
  text-align: center;
}
.vote-content i {
  cursor: pointer;
  margin: 0 5px;
}
.vote-content i:hover {
  color: #E0162E;
}
.score{
  font-family: 'Amaranth', sans-serif;
  color: #D1D1D1;
  font-size: 32px;
}
.footer {
  text-align: center;
  margin: 30px 0;
}
